<% layout('layouts/boilerplate')%>
<div class="product-form-container">
    <h1 class="text-center">Product editing</h1>
    <div class="form-wrapper">
        <form action="/dogGrooming/<%=foundproduct._id%>?_method=PUT" method="POST" novalidate class="validation-check" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="form-label">Product name</label> 
                <input type="text" class="form-control" name="product[name]" id="name" placeholder="Product name" value="<%=foundproduct.name%>" required>
                <div class="feedback invalid-feedback">Please fill a product name.</div>
            </div>
            
            <div class="form-group">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="product[price]" aria-label="price" value="<%=foundproduct.price%>" required>
                    <div class="feedback invalid-feedback">Please fill a price.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="BriefDes" class="form-label">Brief Description</label>
                <textarea class="form-control" id="briefDes" name="product[briefDes]" maxlength="60" required><%=foundproduct.briefDes%></textarea>
                <div class="feedback invalid-feedback">Please fill a brief description.</div>
            </div>

            <div class="form-group">
                <label for="description" class="form-label">Product description</label>
                <textarea class="form-control" id="description" name="product[description]" required><%=foundproduct.description%></textarea>
                <div class="feedback invalid-feedback">Please fill a description.</div>
            </div>

            <div class="form-group">
                <label for="location" class="form-label">Pick-up point / shipping from</label>
                <textarea class="form-control" id="location" name="product[location]" maxlength="40" required><%=foundproduct.location%></textarea>
                <div class="feedback invalid-feedback">Please fill a location.</div>
            </div>

            <div class="form-group">
                <label for="category" class="form-label">Category type</label>
                <select class="form-select" name="product[category]" id="category">
                    <% for(let i=0; i< categories.length; i++){ %>
                        <option value="<%=categories[i]%>" <%= foundproduct.category === categories[i] ? 'selected' :''%>><%=categories[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
                <label for="image" class="form-label">Adding more image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
                <div class="feedback valid-feedback">looks perfect~</div>
                <div class="feedback invalid-feedback">Please upload an image file.</div>
            </div>

            <% if(foundproduct.image.length > 0) { %>
                <div class="image-preview">
                    <% foundproduct.image.forEach(function(img, i){ %>
                        <div class="image-thumbnail">
                            <img src="<%=img.thumbnail%>" class="img-thumbnail">
                            <div class="image-actions">
                                <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%=img.filename%>" id="img-<%=i%>">
                                <label for="img-<%=i%>">Delete</label>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>

            <div class="form-actions">
                <button class="btn btn-primary">Save</button>
                <a href="/dogGrooming/<%=foundproduct._id%>" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>