<% layout('layouts/boilerplate')%>
<div class="products-page">
    <h1 class="page-title">Are you looking...?</h1>
    <div class="page-subtitle">
        <h3 class="text-center">Or</h3>
        <a href="/dogGrooming/new" class="btn btn-primary create-product-link">Create a new product</a>
    </div>
    
    <div class="products-list">
        <% for(let product of foundproduct){ %>
            <div class="product-card">
                <div class="product-image">
                    <% if(product.image.length){ %>
                        <img src="<%=product.image[0].url%>" alt="<%=product.name%>">
                    <% } else { %>
                        <img src="https://res-console.cloudinary.com/dktixmv1b/thumbnails/v1/image/upload/v1688626445/U2Vjb25kSGFuZCBwcm9kdWN0cy9nZ2JqN2d6NmR4bDNwY2NpdHFwaA==/preview" alt="Default product image">
                    <% } %>
                </div>
                <div class="product-details">
                    <h3 class="product-name"><%=product.name%></h3>
                    <p class="product-price">Price: $<%=product.price%></p>
                    <p class="product-description"><%=product.description%></p>
                    <p class="product-location">Location: <%=product.location%></p>
                    <a class="btn btn-primary" href="/dogGrooming/<%=product._id%>">View details</a>
                </div>
            </div>
        <% } %>
    </div>
</div>